@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-yellow: #FFD41D;
  --color-brand-orange: #FFA240;
  --color-brand-red-dark: #D73535;
  --color-brand-red-light: #FF4646;
  
  --font-natgeo: "Signika Negative", sans-serif;
  --font-sans: "Signika Negative", sans-serif; 

  --color-background: #ffffff;
  --color-foreground: #0f172a;
  
  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;
  
  --color-popover: #ffffff;
  --color-popover-foreground: #0f172a;
  
  --color-card: #ffffff;
  --color-card-foreground: #0f172a;
  
  --color-border: #e2e8f0;
  --color-input: #e2e8f0;
  
  --color-primary: #0f172a;
  --color-primary-foreground: #f8fafc;
  
  --color-secondary: #f1f5f9;
  --color-secondary-foreground: #0f172a;
  
  --color-accent: #f1f5f9;
  --color-accent-foreground: #0f172a;
  
  --color-destructive: #ef4444;
  --color-destructive-foreground: #f8fafc;
  
  --color-ring: #94a3b8;
}